<template>
<!-- <h1>{{parentData}} this is tokenpage</h1> -->
  <!-- <br><br><br><h1>Create tokens manually</h1><br> -->

<!-- <Form_/> -->

<div>
  <h3>Token Request</h3>

  <form v-on:submit="addToken">
  <!-- <form v-on:submit="dummy"> -->
    
    <label>Choose your existing project from the list:</label>
    <input type="projectname" required v-model="projectname">

    <label>Choose your existing project from the list:</label>
    <input type="projectname" required v-model="projectname">
    
    <!-- <label>Choose your existing project from the list:</label> -->
    <!-- <select required v-model="projectname"> -->
    <!-- value of option will be assigned to v-model variable -->
      <!-- <option value="UMG-Pipeline">UMG-Pipeline</option>
      <option value="UMG-Pipeline">UMG-Pipeline</option>
      <option value="UMG-Pipeline">DLNR</option>
      <option value="UMG-Pipeline">DLNR</option>
    </select> -->

    <!-- auto complete form -->
    
    <label for="myProjectName">Enter project name</label>&emsp;<span @mouseover="infopopup" class="information-popup">info</span>
    <!-- https://www.w3schools.com/css/css_tooltip.asp -->

    <input  type="text" list="projectList" required v-model="projectname">
    <datalist id="projectList">
      <option v-for="project in fetchedprojects" :key="project.id">{{project.project_name}}</option>

    <!-- <datalist id="projectList"> -->
    <!-- value of option will be assigned to v-model variable -->
        <!-- <option value="UMG-Pipeline">UMG-Pipeline</option> -->
        <!-- <option value="DLNR">DLNR</option> -->
        <!-- https://stackoverflow.com/questions/17929356/html-datalist-values-from-array-in-javascript -->
        <!-- https://stackoverflow.com/questions/70753833/how-to-dynamically-get-the-array-value-list-based-on-the-id-in-vuejs -->
      </datalist>

    <div class="token-permissions">
      <label class="token">GET_JobStatus</label>
      <input type="checkbox" v-model="token_operations" value="GET_JobStatus" @change="tokenSelected">

      <label class="token">UPDATE_JobStatus</label>
      <input type="checkbox" v-model="token_operations" value="UPDATE_JobStatus" @change="tokenSelected">
      
      <label class="token">GET_Job</label>
      <input type="checkbox" v-model="token_operations" value="GET_Job" @change="tokenSelected">

      <label class="token">POST_Code</label>
      <input type="checkbox" v-model="token_operations" value="POST_Code" @change="tokenSelected">

      <label class="token">GET_Code</label>
      <input type="checkbox" v-model="token_operations" value="GET_Code" @change="tokenSelected">

      <label class="token">POST_Job</label>
      <input type="checkbox" v-model="token_operations" value="POST_Job" @change="tokenSelected">

      <label class="token">UPDATE_Job</label>
      <input type="checkbox" v-model="token_operations" value="UPDATE_Job" @change="tokenSelected">

      <label class="token">DELETE_Job</label>
      <input type="checkbox" v-model="token_operations" value="DELETE_Job" @change="tokenSelected">
    </div>

    <div class="submit"><button>Generate Token</button></div>

  </form>
</div>
<p>projectname : {{projectname}}</p>
<p>token_operations: {{token_operations.length}}</p>
<p v-for="project in fetchedprojects" :key="project.id">{{project.project_name}}</p>
</template>

<script>
// import Form_ from './Form_.vue'

export default {
  methods:{
    populateDropdown(){
      fetch(
                  "https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/dropdownMenu",
                    {
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        },
                      method: "GET",
                    }
                  ).then((response)=>{
                      console.log(response);
                      return response.json();
                    }
                  )
                  .then((response)=>{
                      // console.log(response)
                      // this.rows = response
                      console.log(JSON.parse(response))
                      this.fetchedprojects = JSON.parse(response)
                      // console.log('this is the response')
                      // console.log(response)
                    }
                  )
      // fetch(
      //             "https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/dropdownMenu",
      //               {
      //                 headers: {
      //                   Accept: "application/json",
      //                   "Content-Type": "application/json",
      //                   },
      //                 method: "GET",
      //               }.then(
      //                       (response)=>{
      //                                     console.log(response);
      //                                     return response.json();
      //                                   }
      //                       )
      //                 .then(
      //                         (response)=>{
      //                                       console.log(JSON.parse(response));
      //                                       this.fetchedprojects = JSON.parse(response);
      //                                       // this.fetchedprojects = response
      //                                     } 
      //                       )
      //         )
    },
    infopopup(){
      alert('Either enter a projectname and autofill will aid you if it already exists or type a name for a new project and it will be created. Then, return to this page and create a token for said project.')
      this.populateDropdown()
    },
    newproject(){
      this.projectname = prompt('Enter your desired project name')
      if (!this.projectname || this.projectname.length < 2){
          this.projectname=""
          alert('You must enter a valid project name')
      }
      },
    tokenSelected(){
      // let chkbx_value = document.getElementsByT("input")
      let chkbx_objs = document.querySelectorAll("input[type=checkbox]");

      for(var i = 0; i < chkbx_objs.length; i++) {
        if (chkbx_objs[i].checked == true){
          chkbx_objs[i].previousSibling.style.background = 'skyblue';
          chkbx_objs[i].previousSibling.style.color = 'black';
        } else {
          chkbx_objs[i].previousSibling.style.background = '#eee'
          chkbx_objs[i].previousSibling.style.color = '#aaa';
        }
      }
    },
    dummy(e){
      this.projectname="Submitting form";
      e.preventDefault()
    }
    ,
    addToken(e){
        // console.log('token request to be generate')
        // if(!this.project_id || !this.token_operations || !this.time_to_live){
        if(this.token_operations.length<1){
          alert("please select required token operation")
        } else {
              let newTokenRequest={
                project_name: this.projectname,
                token_operations: this.token_operations,
                // time_to_live: this.tokens.time_to_live
                // value of token can be filled and returned via hpcsera
                }

              // alert(newTokenRequest)
              // console.log(newTokenRequest["project_name"])
              // console.log(newTokenRequest["token_operations"])
              // alert(newTokenRequest["project_name"])
              
              // now i have the projectname and token operations ready to be sent to backend

              console.log('sending fetch request')

              fetch(
                  "https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_data",
                    {
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        },
                      method: "POST",
                      body: JSON.stringify(newTokenRequest),
                    }
                  )
                  alert("Congratulations! your token has been generated!");
                  
                  // fetch token from backend

                  this.$router.push({ name: "TokenManagement" , query: {newTok: 'l4Bg44A-gYVFt_wbCa3PTO9Cm9rIY_U1L9cJrxk-eDY'}});

                  // .then(function(){
                  //         alert("Congratulations! your token has been generated!");
                  //         console.log(this.$router)
                  //         this.$router.push({ name: "TokenManagement" });
                  //         // this.$router.push({path: '/token-management'});
                  //         }
                  //       )

                        // .catch(function (response) 
                        //   {
                        //     console.log('catching error')
                        //     console.log(this.$router)
                        //     console.log(response);
                        //     this.$router.push({ name: "TokenManagement" });
                        //   });

              // this.$http.post('https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_data', newTokenRequest)
              //   .then(function(response){
              //     alert("your token value is", response);
              //     this.$router.push({path: '/token-management'});
              //   })    
              // }
              e.preventDefault(); //prevent from submitting form
      }
  }},
  data () {
    return{
      fetchedprojects:[],
        // [
        // {"id":1, "project_name":"UMG-pipeline-suggestion"},
        // {"id":2, "project_name":"DLNR-suggestion"},
        // {"id":3, "project_name":"bullshitbullshit"},
        // {"id":4, "project_name":"asldkfjaslkfdj"},
        // ],
      // myProjectName: ['UMG-pipeline-suggestion', 'DLNR-suggestion', 'bullshitbullshit'], 
      token_operations:[],
      projectname:"",
      tokens: {},
      parentData: this.$root,
      // rows : [] //activate the .get() for fetching tokens
      rows : [
      { "id": 1, "name": "Chandler Bing", "phone": '305-917-1301', "profession": 'IT Manager' },
      { "id": 2, "name": "Ross Geller", "phone": '210-684-8953', "profession": 'Paleontologist' },
      { "id": 3, "name": "Rachel Green", "phone": '765-338-0312', "profession": 'Waitress'},
      { "id": 4, "name": "Monica Geller", "phone": '714-541-3336', "profession": 'Head Chef' },
      { "id": 5, "name": "Joey Tribbiani", "phone": '972-297-6037', "profession": 'Actor' },
      { "id": 6, "name": "Phoebe Buffay", "phone": '760-318-8376', "profession": 'Masseuse' }
    ]
    }
  },
  created:function()
    { 
      this.populateDropdown();
        // fetch(
        //           "https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/dropdownMenu",
        //             {
        //               headers: {
        //                 Accept: "application/json",
        //                 "Content-Type": "application/json",
        //                 },
        //               method: "GET",
        //             }.then(
        //                     (response)=>{
        //                                   console.log(response);
        //                                   return response.json();
        //                                 }
        //                     )
        //               .then(
        //                       (response)=>{
        //                                     console.log(JSON.parse(response));
        //                                     this.fetchedprojects = JSON.parse(response);
        //                                   } 
        //                     )
        //       )
    },



  // components: {
  //   Tokenrow
  // },

  // methods:{
  //   fetchTokens()
  //     {
  //     this.$http.get('https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_data')
  //       .then(
  //         function(response){
  //           this.rows = JSON.parse(response.body)
  //         }
  //       )
  //     }
  // },

  name: "AddTokenManually"
  }
</script>

<style>
/* .manage-tokens {
  background-color:skyblue;
  color: black;
} */

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {background-color: lightskyblue;
  /* background-color: coral; */
  }

tr{
  font-size: 18px;
}
th {
  /* background-color: #04AA6D; */
  background-color: skyblue;
  /* color: white; */
  font:bold;
  font-size:20px;
}

/* button{
  font-size: 50px;
  /* position: relative; */
  /* width: 20%; */
  /* height: 150px;
  top: 25px; */
  /* left: 1150px;
  background-color: blue;
  color: white;
  cursor: crosshair;
} */

datalist {
  display: none;
}

form{
/* float: left; */
max-width: 820px;
/* top right bottom left */
margin: auto auto auto 120px;
/* background: white; */
text-align:left;
padding: 40px;
border-radius: 10px;
}

label{
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  /* font-size:0.6em; */
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  /* font-weight: bold; */
}

input, select, option{
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  /* border: none; */
  /* border-bottom: 1px solid #ddd; */
  color: #555;
  /* border: darkgrey; */
}

input[type="checkbox"]{
  /* background: skyblue;   */
  display: inline-block;
  width: 16px;
  margin: 25px 15px 0 0;
  /* background: #eee; */
  /* position: relative;
  top: 2px;
  padding: 6px 12px;
  border-radius: 20px; */
}

.token{
 /* display: inline-block; */
  /* width: 16px; */
  margin: 15px 0 0 0;
  position: relative;
  top: 2px;
  padding: 6px 12px;
  background: #eee;
  /* background: skyblue; */
  border-radius: 20px; 
}

h3{
  text-align:left;
  font-size: 30px;
  /* top right bottom left */
  margin: 40px auto auto 120px;
}

button{
  background: #0b6dff;
  border: 0;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  font-size:18px;
  align: center;
}

.submit{
  text-align:center;
}

.information-popup{
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
  background: black;
  border: 2px solid black;
  color: red;
  text-align: center;
  background-color: skyblue;
}


</style>