<template>
<!-- <h1>{{parentData}} this is tokenpage</h1> -->
  <!-- <br><br><br><h1>Create tokens manually</h1><br> -->

<!-- <Form_/> -->

<div>
  <form v-on:submit="addToken">
  <label for="project" style="text-align: left">Choose your existing project from the list:</label><br>
<input list="projects" name="project" id="project">

<!-- populate by pulling from DB of available set projects -->
<datalist id="projects">
  <option value="UMG-pipeline"/>
  <option value="DLNR"/>
</datalist>
  <label for="project">Or</label>
  <button type="reset" v-on:click="newproject">create a new project name</button><br>
  <br><br>
  <input type="text" placeholder="Create new project name" v-model="tokens.project_name">

    <br><br><label for="project" style="text-align: left">Choose your existing project from the list:</label><br>
      <input list="projects" name="project" id="project">

      <!-- populate by pulling from DB of available set projects -->
      <datalist id="projects">
        <option value="UMG-pipeline"/>
        <option value="DLNR"/>
        <option placeholder="creat new project"/>
      </datalist>

  <br><br><button type="submit">Submit</button>
  </form>
</div>


  
  <!-- </div> -->
<!-- <button>Add token Manually</button> -->

</template>

<script>
import Form_ from './Form_.vue'

// this.$root.page = 'token-management';

// const pageheader_button = document.getElementsByClassName('manage-tokens');
// pageheader_button.style.backgroundColor = 'skyblue';
// pageheader_button.style.color = 'black';

export default {
  methods:{
    newproject(){
      this.projectname = prompt('Enter your desired project name')
      if (!this.projectname || this.projectname.length < 2){
        this.projectname=""
        alert('You must enter a valid project name')}
    },
    addToken(e){
        // console.log('token request to be generate')
        if(!this.tokens.project_id || !this.tokens.token_operation || !this.tokens.time_to_live){
          alert("please fill in the required fields project id, token operation (=token permission), and time to live for token")
        } else {
              let newTokenRequest={
                project_name: this.tokens.project_name,
                token_operation: this.tokens.token_operation,
                time_to_live: this.tokens.time_to_live
                //value of token can be filled and returned via hpcsera
              }
              
              this.$http.post('https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_data/new_token_data', newTokenRequest)
                .then(function(response){
                  alert("your token value is", response);
                  this.$router.push({path: '/token-management'});
                })
        }
        e.preventDefault(); //prevent from submitting form
    }
  }, 
  data () {
    return{
      projectname:"",
      tokens: {},
      parentData: this.$root,
      // rows : [] //activate the .get() for fetching tokens
      rows : [
      { "id": 1, "name": "Chandler Bing", "phone": '305-917-1301', "profession": 'IT Manager' },
      { "id": 2, "name": "Ross Geller", "phone": '210-684-8953', "profession": 'Paleontologist' },
      { "id": 3, "name": "Rachel Green", "phone": '765-338-0312', "profession": 'Waitress'},
      { "id": 4, "name": "Monica Geller", "phone": '714-541-3336', "profession": 'Head Chef' },
      { "id": 5, "name": "Joey Tribbiani", "phone": '972-297-6037', "profession": 'Actor' },
      { "id": 6, "name": "Phoebe Buffay", "phone": '760-318-8376', "profession": 'Masseuse' }
    ]
    }
  },
  components: {
    Form_
  },

  // methods:{
  //   fetchTokens()
  //     {
  //     this.$http.get('https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_data')
  //       .then(
  //         function(response){
  //           this.rows = JSON.parse(response.body)
  //         }
  //       )
  //     }
  // },

  name: "AddTokenManually",
};

</script>

<style>
/* .manage-tokens {
  background-color:skyblue;
  color: black;
} */

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {background-color: lightskyblue;
  /* background-color: coral; */
  }

tr{
  font-size: 18px;
}
th {
  /* background-color: #04AA6D; */
  background-color: skyblue;
  /* color: white; */
  font:bold;
  font-size:20px;
}

/* button{
  font-size: 50px;
  /* position: relative; */
  /* width: 20%; */
  /* height: 150px;
  top: 25px; */
  /* left: 1150px;
  background-color: blue;
  color: white;
  cursor: crosshair;
} */

datalist {
  display: none;
}

form{
max-width: 420px;
margin: 30px auto;
background: white;
text-align:left;
padding: 40px;
border-radius: 10px;
}

label{
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  font-size:0.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

input{
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}
</style>