<template>
<!-- <h1>{{parentData}}</h1> -->
  <div class="nav">
    <!-- <router-link to ="/token-management" class = "list manage-tokens" @click="activePage.setCurrentPage(tokenmanagement)">Tokens </router-link> -->
    <router-link to ="/token-management" class = "list manage-tokens">Tokens </router-link>
    <router-link to ="/" class = "list login">Projects</router-link>
    <router-link to ="/" class = "list register-device">Register Authenticator Device</router-link>
    <router-link to ="/" class = "list logout" style="float:right">Logout</router-link>
    <router-link to ="/token-management/add-token-manually" class = "list add-token-manually" style="float:right; background-color:green">Add token manually</router-link>
  </div>
</template>

<script>
// import { activePage } from '../stores/activePage'

export default {
  data () {
    return{parentData: this.$root}},
  name: 'Header_navbar',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.list{
  display: block;
  padding: 10px;
  /* background-color: skyblue; */
  background-color: #333;
  display: inline;
  float: left;
  font: bold;
  /* color:black; */
  color: white;
  margin: 5px;
  padding:10px
}:hover{
  /* background-color: lightskyblue; */
  background-color: #111;
}:link { text-decoration: none; }

.active {
  background-color:skyblue;
  color: black;
}

.nav{
  top:0;
  /* position:fixed; */
  font-size:20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: skyblue; */
  background-color: #333;
  display: block;
  /* padding: 20px; */
  /* float: left; */
  overflow: hidden
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

/* .manage-tokens {
  background-color:skyblue;
  color: black;
  font: bold;
} */

</style>
