<template>
  <h1>Login here</h1>
  <p>Please always use SSO to log in</p>
  <div class="login">
    <a
      href="https://sso.academiccloud.de/simplesaml/module.php/autodiscover/login.php?AuthState=_895767d8a253fd81a069cae63e3cc0d2b4bfa1aeb5%3Ahttps%3A%2F%2Fsso.academiccloud.de%2Fsimplesaml%2Fmodule.php%2Fcore%2Fas_login.php%3FAuthId%3Ddefault-flow%26ReturnTo%3Dhttps%253A%252F%252Fsso.academiccloud.de%252Fsimplesaml%252Fmodule.php%252Fmulticontextbroker%252Fcomplete_login.php%253FAuthState%253D_414dd3fd1141b235899f26b69c490703649edbc0f8%25253Ahttps%25253A%25252F%25252Fsso.academiccloud.de%25252Fsimplesaml%25252Fsaml2%25252Fidp%25252FSSOService.php%25253Fspentityid%25253Dhttps%2525253A%2525252F%2525252Fkeycloak.sso.gwdg.de%2525252Fauth%2525252Frealms%2525252Facademiccloud%252526RelayState%25253DTO76UGkOM_lU1Tk7qTJfsODeIaOGaCV3BmB6kvyj9wI.ZhcYA-0U8FU.gwdg.de%252526cookieTime%25253D1645105209"
    >
      <button>Log in using SSO</button>
    </a>
    <input type="text" placeholder="Enter Username" />
    <input type="text" placeholder="Enter Password" />
    <button v-on:click="loggedIn">Log in</button>
  </div>
</template>

<script>
console.log("my name is");

//once page is loaded register a service worker
addEventListener("load", async () => {
  if ("serviceWorker" in navigator) {
    let sw = await navigator.serviceWorker.register("/sw.js");
    console.log("Service Worker Registered1");
    console.log("this is the first step", sw);

    let push = await sw.pushManager.subscribe({
      userVisibleOnly: true,
      //ECDSA P-256 public key that the push server will use to authenticate your application server.
      applicationServerKey:
        "BIXkoWIy-Civu0JNgp_L54EtZcLik1UV0Cqfk1cgdP93e0FNkVx_Wq5mADIotnSTx9NlrLzZ5kNMY64Mz5TVqOc",
    })
  console.log('ordinary', push)
  console.log('stringified version of push obj', JSON.stringify(push))

  //new code
  // Listen to messages from service workers.
  
  navigator.serviceWorker.addEventListener('message', function(event) {
        console.log("Got msg from service worker: " + event.data);
        let confirmation = confirm('we got the msg, do you want to proceed?');
        console.log(confirmation);

        let response = prompt("please submit yes / no to continue with accessing XXX endpoint")
        console.log(response)
  });
  

  //now return the push subscription object back to 'db' to iterate over
  //will be used in server side to push notifs
  //gotta use fetch for this


  
  }
});

export default {
  name: "Login",
  methods: {
    loggedIn() {
      alert("logged in!");

      console.log("logged in");

      //first route to tokenmanagement page
      this.$router.push({ name: "TokenManagement" });
      console.log("routing to token management EP");
    },
  },
};
</script>

<style>
.login input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid skyblue;
}
.login button {
  width: 325px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid black;
  background: skyblue;
}
</style>