<template>
<!-- <h1>{{parentData}} this is tokenpage</h1> -->
  <h1> <br> Create and delete tokens here </h1>
  <br><p @mouseover="this.innerHTML='blablabla'">Wait for push notification once you submit a job</p>

  <table id="firstTable">
    <thead>
      <tr>
        <th>Project</th>
        <th>Token value</th>
        <th>Token Operation</th>
        <th>Time to live</th>
        <th>Modify token</th>
        <Tokenrow />
      </tr>
    </thead>

    <tbody>
      <tr v-for="row in rows" v-bind:key="row.token_id">
        <td>{{row.project_name}}</td>
        <!-- <td id='tokenrow' ><div class="divfortokencol"> tokens: {{row.name}}</div></td> -->
        <!-- <td id='tokenrow'>><router-link to="/token-management" @click="makealert" >click to reveal token {{row.token_id}}</router-link></td> -->

        <td id='tokenrow'>><router-link to="/token-management" @click="revealToken(row.token_id)" >click to reveal token {{row.token_id}}</router-link></td>

        <td>{{row.permissions_array}}</td>
        <td> {{Math.floor(row.time_to_live*1.1574e-5)}} days
          {{Math.trunc((row.time_to_live*1.1574e-5-Math.floor(row.time_to_live*1.1574e-5))*24)}}
           hours </td>
        <!-- <td> {{row.time_to_live*1.1574e-5}} unformatted {{Math.floor(row.time_to_live*1.1574e-5)}} days .{{(row.time_to_live*1.1574e-5+'').split('.')[1].toInt()*24}} hours</td> -->
        <!-- <td id = 1><router-link to="/" @mouseover="makeacustomlert(row.token_id)" >>delete token {{row.token_id}} {{typeof row.token_id}}</router-link></td> -->
        
        <!-- do this next:  -->
        <td><router-link to="/" @click="delete_token(row.token_id)" >>delete token {{row.token_id}} {{typeof row.token_id}}</router-link></td>
        
        
        <!-- <td><router-link <v:bind-to="/id" >>delete token</router-link></td> -->
        <!-- <router-link to ="/" class = "list" style="float:right">Logout</router-link> -->
      </tr>
    </tbody>



    <!-- <tbody>
      <tr v-for="row in rows" v-bind:key="row.id">
        <td>{{row.id}}</td> -->
        <!-- <td id='tokenrow' ><div class="divfortokencol"> tokens: {{row.name}}</div></td> -->
        <!-- <td id='tokenrow' >>click to reveal token</td>
        <td>{{row.phone}}</td>
        <td>{{row.profession}}</td>
        <td><router-link to="/" >>delete token</router-link></td> -->
        <!-- <td><router-link <v:bind-to="/id" >>delete token</router-link></td> -->
        <!-- <router-link to ="/" class = "list" style="float:right">Logout</router-link> -->
      <!-- </tr>
    </tbody> -->
</table> 
<!-- <button>Add token Manually</button> -->
<p>rows : {{rows}}</p>
</template>

<script>
import Tokenrow from './Tokenrow.vue'

// console.log('newtok is',this.$route.query.newTok);





// this.$root.page = 'token-management';

// const pageheader_button = document.getElementsByClassName('manage-tokens');
// pageheader_button.style.backgroundColor = 'skyblue';
// pageheader_button.style.color = 'black';

export default {
  data () {
    return{
      token:'',
      tokens: {},
      parentData: this.$root,
      // rows : [] //activate the .get() for fetching tokens
      // rows : [
      // { "id": "UMG-pipeline", "name": "XXXXXXX", "phone": 'get_file', "profession": '24 hr' },
      // { "id": "UMG-pipeline", "name": "XXXXXXX", "phone": 'upload_file', "profession": '24 hr' },
      // { "id": "UMG-pipeline", "name": "XXXXXXX", "phone": 'add_job', "profession": '24 hr'},
      // { "id": "DLNR", "name": "XXXXXXX", "phone": 'delete_job', "profession": '1 week' },
      // { "id": "DLNR", "name": "XXXXXXX", "phone": 'find_jobs_by_status', "profession": '1 week' },
      // { "id": "DLNR", "name": "XXXXXXX", "phone": 'get_job_by_id', "profession": '12 hr' },
      // { "id": "DLNR", "name": "XXXXXXX", "phone": 'update_job_by_operation', "profession": '1 month' },
      // { "id": "DLNR", "name": "XXXXXXX", "phone": 'update_job', "profession": '36 hr' }    
      // ]
      rows : []
    }
  },
  methods:{
    revealToken(token_id_toreveal){

      let myrow = this.rows.filter( 
          (row) =>{return row.token_id == token_id_toreveal} 
      )
      console.log(token_id_toreveal)
      console.log (this.rows)
      console.log (myrow)
      console.log (myrow[0].token_value)

      alert(myrow[0].token_value)
      // alert(rows.token_value[])
    },

    delete_token(current_token_id){

      let token_dete_request={token_id: current_token_id}
       
      fetch(
                  "https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/delete_token",
                    {
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        },
                      method: "POST",
                      body: JSON.stringify(token_dete_request),
                    }
                  )
    },


    makeacustomlert(msg){
      alert(msg)
    },
    makealert(){
      alert('token: N55T-9GGF-B8QP-STPC')
    },  
    fetchTokens()
      {
        fetch(
                  "https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_table",
                    {
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        },
                      method: "GET",
                    }
                  ).then((response)=>{
                      console.log(response);
                      return response.json();
                    }
                  )
                  .then((response)=>{
                      // console.log(response)
                      // this.rows = response
                      console.log(JSON.parse(response))
                      this.rows = JSON.parse(response)
                      // console.log('this is the response')
                      // console.log(response)
                    }
                  )
        
      }
  },

  // methods:{
  //   fetchTokens()
  //     {
  //     this.$http.get('https://hpcsera.gwdg.de:8080/HPC-RESTful/1.0.0/token_data')
  //       .then(
  //         function(response){
  //           this.rows = JSON.parse(response.body)
  //         }
  //       )
  //     }
  // },
  name: "TokenManagement",
  components: {
    Tokenrow
  },
  created:function(){
    this.fetchTokens();

    // if(this.$route.query.newTok){
    //   this.token=this.$route.query.newTok;
      // var tbodyRef = document.getElementById("firstTable");//.getElementsByTagName('tbody')[0];
      // console.log(tbodyRef)
      // var newRow = tbodyRef.insertRow();
      // var newCell = newRow.insertCell();
      // var newText = document.createTextNode('new row');
      // newCell.appendChild(newText);
      // send the newtok to a new component and place that at the end of the table
      // alert(this.$route.query.newTok)
      // alert('i got newTok:  ' + this.$route.query.newTok)
    // }else{
    //   alert('dont got newTok')
    // 
  // }
  },
};

addEventListener("load", () => 
{
    console.log('[mypage has loaded]')

    // console.log('newtok is',this.$route.query.newTok)

    // console.log('newtok is',this.$route.query.newTok)

    // let hidden_tokens = document.querySelectorAll('td')
    // // document.getElementById("firstTable")
    // console.log(hidden_tokens)
    // console.log(hidden_tokens.length)
    // for(var i = 0; i < hidden_tokens.length; i++) 
    //   {
    //       console.log(hidden_tokens[i].innerHTML)
    //   }
    //   hidden_tokens[1].addEventListener("mouseover",function(){
    //       alert("cell clicked");
      // });

      // console.log('this is delete_this_token', this.data(delete_this_token));
      // console.log('this is type', typeof app.delete_this_token);

      // var deletebutton = document.getElementById(delete_this_token);
      // console.log('this is the element',deletebutton) ;

      // var table = document.getElementById("firstTable");
      // console.log(table.length)
      // console.log(table)
      // for(var i = 0; i < table.length; i++) 
      // {
      //     console.log('table target is ',table[i].target)
      // }


      // table.addEventListener("click", function(e) {
      //   if (e.target && e.target.nodeName == "TD" && e.target.id == 'tokenrow') {
      //     // e.target.innerHTML='N55T-9GGF-B8QP-STPC'
      //     alert('token: N55T-9GGF-B8QP-STPC')
      //   }
      // });

      // // console.log(this.token.length + 'this token')

      // if(this.token.length != 0){
      //   var tbodyRef = document.getElementById("firstTable");//.getElementsByTagName('tbody')[0];
      // console.log(tbodyRef)
      // // var newRow = tbodyRef.insertRow();
      // // var newCell = newRow.insertCell();
      // // var newText = document.createTextNode('new row');
      // // newCell.appendChild(newText);
      // }

})


</script>

<style scoped>

/* .list{
  display: block;
  padding: 10px;
  /* background-color: skyblue; */
  /* background-color: darkred;
  display: inline;
  float: center;
  font: bold;
  color: white;
  border: black;
  margin: 15px;
  padding:10px
} */ *

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* tr:hover {background-color: lightskyblue;
  /* background-color: coral; */
  /* } */ 

tr{
  font-size: 18px;
}
th {
  /* background-color: #04AA6D; */
  background-color: skyblue;
  /* color: white; */
  font:bold;
  font-size:20px;
}
/* 
td[id='tokenrow']{
display:none;
} */

/* td[id='tokenrow'] {
    display: none;
}:hover{
  display:block;
} */

/* button{
  font-size: 50px;
  /* position: relative; */
  /* width: 20%; */
  /* height: 150px;
  top: 25px; */
  /* left: 1150px;
  background-color: blue;
  color: white;
  cursor: crosshair;
} */
</style>


