<template>
<!-- always there -->
<!-- <h1>{{page}}</h1> -->
<header><Header_navbar/></header>
<img class="logo" alt='Gwdg Logo' src="./assets/gwdg-logo.png" />

<!-- there based on routes defined -->
<router-view/>
</template>

<script>

import Header_navbar from './components/Header_navbar.vue'

export default {
  data () {
    return{page: 'app vue page'}
  },

  name: "App",
  components: {
    Header_navbar
  },
};
</script>

<style lang="scss">
@import "~@/assets/scss/vendors/bootstrap-vue/index";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.logo{
  margin-top: 20px;
  width: 320px;
}

</style>
